<html ng-app="projeto">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/jpg" href="/img/finallogo.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/geral.css">
    <link rel="stylesheet" type="text/css" href="/css/sobre.css">
    <script src="/libs/angular.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/directives/uiGeral.js"></script>
    <script src="/js/controllers/deslogarCtrl.js"></script>
</head>

<body>
    <ui-header></ui-header>
    <div style="overflow: auto; border-top: 2px solid white;">
        <div class="div-sobre">  
           <img src="/img/logoMenor.png" alt="">
           <h1 style="margin-top: 2%; font-family: Arial, Helvetica, sans-serif">Somos o melhor fórum de Tecnologia do mundo! </h1>
           <h3 style="margin-bottom: 2%; margin-top: 1%;">(Assim acreditamos)</h3>
    
            <div class="sobre-1">
    
                <h1 style="margin-bottom: 1%;"> < Poste sua dúvida > </h1>
                <h2 style="margin-bottom: 1%;">-----------------"Milhões" de usuarios poderão vê-la----------------</h2>
                <h2 style="margin-bottom: 1%;">-----------------Respondê-la se forem capazes----------------</h2>
                <h2 style="margin-bottom: 1%;">Tudo isso... De graça!</h2>
                <h1 style="margin-bottom: 1%; font-size: 80px;">;-)</h1>
    
            </div>
            <div class="sobre-2">
                <ul style="list-style: none; display: flex; justify-content: space-around; margin-top: 2%;" >
                    <li><img src="/img/perfil.png" alt=""></li>
                    <li><img src="/img/question2.png" alt=""></li>
                    <li><img src="/img/selecionado.png" alt=""></li>
                    <li><img src="/img/angular.png" alt=""></li>
                </ul>
                <ul style="list-style: none; display: flex; justify-content: space-around; font-style: normal; margin-bottom: 2%; margin-top: 1%;">
                    <li style="margin-left: 1%;"> <h4> < CRIE SEU PERFIL > </h4> </li>
                    <li> <h4>  <   POSTE SUA PERGUNTA > </h4> </li>
                    <li> <h4>< ESCOLHA SUA RESPOSTA > </h4></li>
                    <li style="margin-right: 1%;"> <h4>< VOLTE A "CODAR"  > </h4> </li>
                </ul>
    
            </div>
        </div>
    </div>
    <ui-footer></ui-footer>
</body>

</html>