#container{
    background-color: #666666;
    width: 100%;
    height: auto;
    padding: 10% 30%;
    text-align: center;
    color: white;

}

input{
    margin: 2% 0px;
}

.alert-danger{
    border-radius: 20px;
}

.btn-block{
    border-radius: 20px;
    background-color: white;
}

.btn-block:hover{
    background-color: yellow;
}

.form-control{
    border-radius: 20px;
    border: yellow 2px solid;
    background-color: #666666;
    color: white;
}

.form-control::placeholder {
    color: white;
  }

a:hover{
    text-decoration: none;
}