*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}

body{
    max-width: 100%;
    overflow: auto;
}




/*CSS HEADER*/
header{
    background-color: #444444;
    height: auto;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    font-family: Arial, Helvetica, sans-serif;
}
.logo img{
    height: 15vh;
}
.nav-links{
    display: flex;
    justify-content: space-around;

}
.nav-links a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 20px;
}
.nav-links li{
    list-style: none;
}
.nav-links a:hover{
    color: yellow;
    text-shadow: 0px 0px 1px yellow;
}



/*CSS FOOTER*/
footer{
    width: 100%;
    float: left;
}
.footer-div-image{
    width: 20%;
    height: 120px;
    float: left;
    background-image: url("/img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #444444;
}   
.text{
    width: 70%;
    margin-left: 25%;
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
}
.footer-div-rest{
    width: 100%;
    float: right;
    height: 120px;
    background-color: #444444;
    z-index: 2;
    position:absolute;
}
.footer-div-icons{
    background-color: #444444;
    height: 60px;
    width: 100%;
    display: inline-block;
    text-align:center;
    margin-top: 2%
}
.footer-div-icons ul{
    list-style: none;
}
.footer-div-icons ul li{
    display: inline;
}
.footer-div-txt{
   text-align:center;
    color: white;
}

.container-ajuda{
    width: 100%;
    background-color: #999999;
    text-align: center;
    padding: 5%;
    color: white;

}

.container-ajuda a:hover{
    text-decoration: none;
}


#div-tutorial{
    background-color:#666666;
    height: auto;
    
}

#h2-t1{
    width: 30%;
    margin-left: 35%;
    background-color: #666666;
    text-align: center; 
    color: white;
}
#h2-t1:hover{
    color: yellow;
}

#h2-t2{
    width: 30%;
    margin-left: 35%;
    background-color: #666666;
    text-align: center; 
    color: white;
}
#h2-t2:hover{
    color: yellow;
}




