#container{
    position: relative;
    margin: 0px;
    height: 800px;
    box-shadow: 0px 0px 1px 1px black;  
}

#container-left{
    width: 20%; 
    height: 100%;
    float: left;
    box-shadow:0px 0px 1px 1px #444444; 
    padding: 2%;
    word-wrap: break-word;
}

#container-rigth{
    width: 80%;
    height: 100%;
    float: right;
    box-shadow:0px 0px 1px 1px #444444;
    padding: 2%;
    word-wrap: break-word;
}

#container-left button{
    margin-top: 5%;
    margin-bottom: 15%;
}

#container-left button:hover{
    background-color: rgb(133, 133, 0);
}

.btn-secondary{
    background-color: #444444;
}
