#container{
    position: relative;
    margin: 0px;
    height: auto;
    box-shadow: 0px 0px 1px 1px black;  
}

#container-left{
    width: 20%; 
    min-height: 100vh;
    height: auto;
    float: left;
    padding: 2%;
    word-wrap: break-word;
}

#container-rigth{
    width: 80%;
    min-height: 100vh;
    height: auto;
    float: right;
    box-shadow:0px 0px 1px 2px #444444;
    padding: 2%;
    word-wrap: break-word;
}

#container-left button{
    margin-top: 5%;
    margin-bottom: 15%;
}



.btn-secondary{
    background-color: #444444;
}

input, textarea{
    margin-bottom: 1%;
}

.form-control{
    border: #444444 1px solid;
}
