body {
    max-width: 100%;
    background-color:grey;
    margin:0%;
}
a{
    text-decoration: none;
}



/* div sobre, div imagem de perfil e div briografia */

#sobre {
    margin-left:1%;
    width: 20%;
    background-color: white;
    text-align:center;
    border-style:solid;
    border-width:2px;
    float:left;
    position:fixed;
    z-index: 1;
}
#sobre ul{
    list-style-type: none;
}

#img-perfil {
    border-radius:50%;
    width:35%;
    margin-left:auto;
    margin-right:auto;
    margin-top:3%;
}

#biografia p{
    text-align: left;
    padding-left: 1%;
    margin-bottom: 3%;
    font-size:14px;
}

#links{
    margin-top:3%;
    margin-bottom:3%;
}

#biografia {
    margin-top:3%;
}

#editar img{
    margin-top:-3%;
    width:20%;
}


/* section topicos e div lista de topicos*/


#editar-formulario textarea {
    margin-bottom:3%;
}
.topicos{
    width:79%;
    margin:auto;
    text-align:center;
    float: right;
}
#title{
   font-size:20px;
   font-family: Arial, Helvetica, sans-serif;
}
#formeditar {
    margin-top:0;
}
.topico{
    width:60%;
    margin-top:3%;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    border-width:2px;
    margin-bottom:3%;
}

.topico h1{
    font-size:30px;
    text-shadow: 1px 1px 1px grey;
}

.topico h2{
    font-size:15px;
    font-weight: bolder;
}

#tags{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
table{
    margin-bottom: 3%;
}

button{
    margin-top:3%;
}
/* div competencias */

/* img competencias */

#skills {
    width:10%;
    position:fixed;
    margin-left:22%;
}
